<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{relocatable: default.css}" charset="utf-8" type="text/css">
  <title>Asmeta - {title: }</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120364030-1"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-120364030-1');
   </script>
</head>

<body>

<table cellspacing="0" cellpadding="0" border="0" style="width:100%%;">
<tr>
  <td style="padding:5px 10px 5px 10px;font-size:16pt;font-weight:bold;color:#000066;background-color:f7f7f7;border:1px solid #a5b6c6;">
    Asmeta
   </td>
  <td style="padding:5px 10px 5px 10px;font-size:16pt;font-weight:bold;color:#8998a5;border-bottom:1px solid #a5b6c6;">
    {title: }
  </td>
 </tr>
<tr><td style="vertical-align:top;padding:20px 10px 80px 10px;background-color:f7f7f7;border-left:1px solid #a5b6c6;border-right:1px solid #a5b6c6;border-bottom:1px solid #a5b6c6;">
<div id="sidebar">
  {menu: {options: {mi: {in_menu: true}, sort: true, absolute_levels: [0, 2], lang: node}}}
 </ul>
</div>
</td><td style="vertical-align:top;padding:10px 0px 5px 20px;width:80%;border-bottom:1px solid #a5b6c6;" colspan="2">

 <webgen:block name="content" />

</td></tr>
</table>

<div id="footer">
  Copyright &copy; 2006-2020 <a href="http://fmse.di.unimi.it/" target="_blank">Formal Methods and SE Laboratory - University of Milan</a>(FM&SE LAB). All rights reserved.
        | Lastchange : {modified_at:} | Generated by <a href="http://webgen.rubyforge.org" target="_blank">webgen</a></p>
</div>
</body>
</html>
